.idea/
3RScan/

# ignore large files of output
TRIP_train.out
TRIP_train.out.save
SGPN/logs/SGPN/*
SGPN/SGPN/*
SGPNgpu/logs/SGPN/*
SGPNgpu/SGPN/*
files/server_comands.txt
data_processing/download_dataset.py
